@import url("https://fonts.googleapis.com/css?family=Roboto:900,500,400,300");

html {
  font-size: 12px;

  @media screen and (min-width: 350px) {
    font-size: 14px;
  }

  @media screen and (min-width: 900px) {
    font-size: 16px;
  }

  @media screen and (min-width: 1260px) {
    font-size: 20px;

  }

}

body {
  background-color: $dark-gray;
  color: $dark-gray;
  font-family: Roboto, sans-serif;

}

/*h1, h2, h3 {
  font-family: 'Open Sans', Roboto, "Helvetica Neue", sans-serif;
}*/


a {
  color: inherit;

  &:hover {
    text-decoration: none;
    color: inherit;
  }

}

button:focus {
  outline: 0;
}

