.score-graphic-container {

  margin: 0 3em;

  .cls-1 {
    fill: none;
  }

  .cls-123 {
    fill: #fff;
  }

  .cls-2 {
    clip-path: url(#clip-path);
  }

  .cls-3 {
    fill: #91999d;
  }

  .cls-4 {
    clip-path: url(#clip-path-2);
  }

  .cls-5 {
    fill: #ec4d60;
  }

  .cls-6 {
    clip-path: url(#clip-path-3);
  }

  .cls-7 {
    clip-path: url(#clip-path-4);
  }

  .cls-8 {
    fill: #39d348;
  }

  .cls-9 {
    clip-path: url(#clip-path-5);
  }

  .cls-10 {
    clip-path: url(#clip-path-6);
  }

  .cls-11 {
    fill: #4e69ea;
  }

  .cls-12 {
    clip-path: url(#clip-path-7);
  }

  .cls-13 {
    clip-path: url(#clip-path-8);
  }

  .cls-14 {
    fill: url(#Gold_02);
  }

  #guide_path {
    fill: none;
    stroke: #ff0000;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  .path-end-circle {
    fill: #fff;
    /*stroke: grey;*/
    stroke-width: 2px;
  }


}

