$dark-gray: #464646 !default;
$mid-gray: rgb(74, 74, 74) !default;
$mid-light-gray: #696969 !default;
$light-gray: rgb(141, 141, 141) !default;
$black: rgb(0, 0, 0) !default;
$orange: #FE6105;
$white: #fafafa;
$blue: #425d94;
$mustard: #ae902a;
$purple: #886690;
$green: #296939;
$m3-col-reporting: #da4057;
$m3-col-planning: #22b639;
$m3-col-impact: #2941c3;

