header {
  margin-top: .8em;
  color: $white;

  .main-header {

    border-top: solid 1px $light-gray;
    border-bottom: solid 1px $light-gray;


    img.logo {
      height: 3em;
    }

    .nav {
      .nav-item {
        font-size: .6em;
        text-transform: uppercase;

        .nav-link.active {
          color: $orange;
        }

      }
    }

  }

  h1.sub-header {
    font-size: 3.4em;
    font-weight: 900;
    background: url("../images/header-image.jpg") no-repeat;
    letter-spacing: 0.04em;
  }

}