$dark-gray: #464646 !default;
$mid-gray: rgb(74, 74, 74) !default;
$mid-light-gray: #696969 !default;
$light-gray: rgb(141, 141, 141) !default;
$black: rgb(0, 0, 0) !default;
$orange: #FE6105;
$white: #fafafa;
$blue: #425d94;